<div class="container" >
    <div class="card"   style="width: 18rem;" *ngFor="let product of data">
        <img routerLink="/details/{{ product.id}}" src="{{product.image}}" class="card-img-top" alt="product" 
            style="width: 50%; height:13rem;">
        <div class="card-body">
            <div class="description">
                <h3>{{product.title}}</h3>
            </div>
            <div class="actions">
                <button   class="btn btn-success" *ngIf="!product.clicked" (click)="product.clicked = true"  >Add to cart</button>
                <div class="d-flex" *ngIf="product.clicked">
                    <input type="number" class="form-control w-50" [(ngModel)]="input"/>
                    <button class="btn btn-success" (click)="selectedProduct(product)" >add</button>
                </div>
                <span class="price">{{product.price }} $</span>
            </div>
        </div>
    </div>
</div>