
<div class="my-2">
    <app-select [label]="title" [data]="categoriesList" (selectedValue)="reciveSelectedCategory($event)"></app-select>
</div>
<section class="products-list" *ngIf="!loading">
    <div class="card" style="width: 18rem;" *ngFor="let product of productsList">
        <img src="{{product.image}}" class="card-img-top" alt="product" 
            style="width: 50%; height:13rem;">
        <div class="card-body">
            <div class="description">
                <h3>{{product.title}}</h3>
                <!-- <p class="card-text">{{product.description }}</p> -->
            </div>
            <div class="actions">
                <button class="btn btn-success">Add to cart</button>
                <span class="price">{{product.price}} $</span>
            </div>
        </div>
    </div>
    
</section>
<div class="spinner mt-4"*ngIf="loading">
    <app-spinner></app-spinner>
</div>
