<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand mr-5 " href="#">
            <i>
                <img src="../../../assets/interface_14616839.png" style="width: 50px; height: 50px;" />
            </i>Market</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" activeLink="active" aria-current="page" routerLink="products">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" activeLink="active" routerLink="aboutUs">About US</a>
                </li>
                <li class="nav-item dropdown" activeLink="active">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Categorirs
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

            </ul>
            <button class="btn btn-outline-warning " routerLink="login" style="width: 150px;">login</button>


        </div>

    </div>
</nav>