
<div class="container">
    <div>
        <div class="header">
            <div>
                <h1>Shopping Cart</h1>
                <h6>you have <i>{{data.length}}</i> item in your cart</h6>
            </div>
            <div class="clear"><button (click)="clearCart()" type="button" class="btn btn-outline-danger">Clear shopping cart</button></div>
        </div>
        <div class="body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">product</th>
                    <th scope="col">quantity</th>
                    <th scope="col">price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data let index=index">
                    <th scope="row">{{item.id}}</th>
                    <td><img src="{{item.image}}" alt=""></td>
                    <td>{{item.quantity }}</td>
                    <td>{{item.price}} $</td>
                    <td><button type="button" (click)="deleteProduct(index)" class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
              <div class="successFooter" *ngIf="!successMessage">
                <p>total: <b>{{total}} $</b></p>
                <button type="button"  (click)="addCart()" class="btn btn-success">Order Now</button>
              </div>
        </div>
    </div>
    <div class="footer" *ngIf="successMessage">
        <span><b>Well done!</b> your order is successfully sent</span>
    </div>
</div>