<div class="container">
    <ul>
        <li>
            <p routerLink="products"><i class="bi bi-house" > </i> {{"sideBar.home"|translate}}</p>
        </li>
        <li>
            <p routerLink="cart"> <i class="bi bi-cart"></i> {{"sideBar.cart"|translate}}</p>
        </li>
        <li>
            <p><i class="bi bi-diagram-3"></i> {{"sideBar.products"|translate}}</p>
        </li>
        <li>
            <p><i class="bi bi-exclamation-octagon"></i> {{"sideBar.about"|translate}}</p>
        </li>
        
    </ul>
</div>